*.pyc
.idea

# /bot/
/bot/rtbot.pid

# /bot/exceptions/
/bot/exceptions/*.xml

# /bot/logs/
/bot/logs/debuglog.txt
/bot/logs/logfile.txt
/bot/logs/*.log

# /bot/resources/
/bot/resources/PluginMetaData.pickle
/bot/resources/respectah_data.pickle
/bot/resources/seentimes.lst
/bot/resources/mails.csv
/bot/resources/accounts.lst
/bot/resources/timezone_aliases.csv

# /webapp/
/webapp/tmp
