<% @my_dir.each do |file| %>
    <% if file =~ /^[^.].*?$/ %>
        <br/><%= file %>
        <%= link_download 'logs/'+file, '[download]', false %>
        <%= link_download 'logs/'+file, '[view]', true %>
    <% end %>
<% end %>