<html>
<head>
  <title>RTBot WebAdministration</title>
  <%= stylesheet_link_tag 'rtbotadmin' %>
</head>
<body>

<h1>LOGO</h1>

<hr/>

<table border="0" class="main_table">
  <tr>

    <td class="left">
      <%= render_component :controller => 'account', :action => 'switch' %>
      <hr/>
      <%= render_component :controller => 'navigator', :action => 'index' %>
    </td>
    
    <td class="right">
      <%= @content_for_layout %>
    </td>

</body>
</html>
