<html>
<head>
  <title>RTBot WebAdministration</title>
  <%= stylesheet_link_tag 'rtbotadmin' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<h1>LOGO</h1>

<hr/>

<table border="0" class="main_table">
  <tr>

    <td class="left">
      <%= render_component :controller => 'account', :action => 'switch' %>
      <hr/>
      <% if @session[:user] %>
      <p><%= link_to "Status", :controller => 'status' %></p>
      <p><%= link_to "Exceptions", :controller => 'exceptions' %></p>
      <p><%= link_to "Logs", :controller => 'logs' %></p>
      <p><%= link_to "Management", :controller => 'manager' %></p>
      <p><%= link_to "Permissions", :controller => 'permission' %></p>
      <% end %>
    </td>
    
    <td class="right">
      <%= @content_for_layout %>
    </td>

</body>
</html>
