<% if @has_connection %>
    <p>Plugin listing via XML-RPC:<br/>
	<% @plugins.each do |plugin| %>
	    <%= plugin %>,
	<% end %></p>
<% else %>
    Can't connect to the bot via XML-RPC. Not running?
<% end %>