<h1>Status</h1>
<%= render :partial => 'status' %>

<h1>Latest news:</h1>
<ul>
  <li>2006#06#14: Still working on the first RC. (Cort)</li>
</ul>

<h1>Next to work on:</h1>
<ul>
  <li>---</li>
</ul>

<h1>Known problems:</h1>
<ul>
  <li>2006#06#14: Changing a users login that is currently logged in can lead to unexpected behaviour. Fixing this issue is not planned. Please avoid using the login name changing option in general. (Cort)</li>
</ul>
