<p style="color: red;"><%=h @flash['error'] %></p>

<ul><strong>Permitted</strong>
<% for file in @good %>
    <li><%= link_download file %></li>
<% end %>
</ul>

<ul><strong>Denied</strong>
<% for file in @bad %>
    <li><%= link_download file %></li>
<% end %>
</ul>